.tooltip {
  position: relative;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(33, 29, 46);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
