.container {
  max-width: 600px !important;
  aspect-ratio: 1/1 !important;
}

.cell {
  background: #073642;
  border: 3px solid white;
  max-width: 200px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.cell > p {
  user-select: none;
  font-size: 8em;
  line-height: 80%;
  margin-bottom: 20%;
}

.cell:hover {
  background: #0a4757;
}

.difficultySelector {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(181, 137, 0);
  outline: 5px solid white;
  border-radius: 10px;
  padding: 30px;
}

.difficultySelector > form > select {
  font-size: 1.5em;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: 3px solid black;
}
.difficultySelector > form > button {
  font-size: 1.5em;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: 3px solid black;
  margin-top: 20px;
}
.difficultySelector > form > button:hover {
  outline: 3px solid red;
}

.afterGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(181, 137, 0);
  padding: 2rem;
  color: white;
  outline: 5px solid white;
  border-radius: 10px;
}

.afterGame > h1 {
  font-weight: bold;
}

.afterGame > button {
  font-size: 1.5em;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px;
  outline: 3px solid black;
}

.afterGame > button:hover {
  outline: 3px solid red;
}
